mixin ccbanner(id)
	script(id="CookiesCoffeeBanner" src="https://banner.cookies.coffee/web/banner/" + id type="text/javascript")

mixin ccpolicy(id)
	div#cc-informativa-wrapper
	script(id="CookiesCoffeeInformativa" src="https://banner.cookies.coffee/web/informativa/" + id type="text/javascript")
